//The 'X' always starts, then the 'O' until the game is over
// Project developed in the stage program.

//O jogo sempre começa com o 'X', em seguida a 'O' até que o jogo termine
//Projeto desenvolvido no programa de estágio.
